@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");

html,
body {
  height: 100%;
}

body {
  padding-top: 75px;
}

body.navbar-more-show {
  overflow: hidden;
}

.animate {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar {
  height: calc(100%);
  max-height: 300px;
  -webkit-transform: translate(0px, calc(-100% + 69px));
  transform: translate(0px, calc(-100% + 69px));
}

.navbar .container:not(.navbar-more) {
  padding: 0px;
}

.navbar-more-overlay {
  background-color: rgba(102, 102, 102, 0.55);
  display: none;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1029;
}

.navbar-more-show>.navbar-more-overlay {
  display: block;
}

.navbar-more-show>.navbar {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.navbar-nav.mobile-bar {
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  margin: 0px 0px;
}

.navbar-nav.mobile-bar>li {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  text-align: center;
}

.navbar-nav.mobile-bar>li>a>span.menu-icon {
  display: block;
  font-size: 1.8em;
}

.navbar-more {
  background-color: rgb(255, 255, 255);
  height: calc(100% - 69px);
  overflow: auto;
}

.navbar-more .navbar-form {
  border-width: 0px;
}

.navbar-more .navbar-nav>li>a {
  color: rgb(64, 64, 64);
}

.navbar-more>.navbar-nav>li>a>span.menu-icon {
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .navbar {
    height: auto;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  .navbar-nav.mobile-bar {
    display: block;
    max-height: 64px;
    margin: 0px -15px;
  }

  .navbar-nav.mobile-bar>li>a>span.menu-icon {
    display: none;
  }
}

/* List Card Responsive */
a {
  color: #03a1d1;
  text-decoration: none !important;
}

/**** LAYOUT ****/
.list-inline>li {
  padding: 0 10px 0 0;
}

.container-pad {
  padding: 30px 15px;
}


/**** MODULE ****/
.bgc-fff {
  background-color: #fff !important;
}

.box-shad {
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}

.brdr {
  border: 1px solid #ededed;
}

/* Font changes */
.fnt-smaller {
  font-size: .9em;
}

.fnt-lighter {
  color: #bbb;
}

/* Padding - Margins */
.pad-10 {
  padding: 10px !important;
}

.mrg-0 {
  margin: 0 !important;
}

.btm-mrg-10 {
  margin-bottom: 10px !important;
}

.btm-mrg-20 {
  margin-bottom: 20px !important;
}

/* Color  */
.clr-535353 {
  color: #535353;
}




/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
  #property-listings .property-listing {
    padding: 5px !important;
  }

  #property-listings .property-listing a {
    margin: 0;
  }

  #property-listings .property-listing .media-body {
    padding: 10px;
  }
}

@media only screen and (min-width: 992px) {
  #property-listings .property-listing img {
    max-width: 180px;
  }
}

/* Simple Vertical Tab */
div.bhoechie-tab-container {
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}

div.bhoechie-tab-menu {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

div.bhoechie-tab-menu div.list-group {
  margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a {
  margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}

div.bhoechie-tab-menu div.list-group>a:first-child {
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a:last-child {
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa {
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
}

div.bhoechie-tab-menu div.list-group>a.active:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

div.bhoechie-tab-content {
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
  display: none;
}

/* List Vote Responsive */
a.list-group-item-vote {
  height: auto;
  min-height: 220px;
}

a.list-group-item-vote.active small {
  color: #fff;
}

.stars {
  margin: 20px auto 1px;
}

/* Timeline Responsive */
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline>li {
  margin-bottom: 20px;
  position: relative;
}

.timeline>li:before,
.timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
}

.timeline>li:before,
.timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
}

.timeline>li>.timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline>li>.timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline>li>.timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline>li>.timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body>p,
.timeline-body>ul {
  margin-bottom: 0;
}

.timeline-body>p+p {
  margin-top: 5px;
}

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline>li>.timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline>li>.timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline>li>.timeline-panel {
    float: right;
  }

  ul.timeline>li>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline>li>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}